@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("./public/fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("./public/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./public/fonts/notoSans/NotoSans-Regular.woff2") format("woff2"),
    url("./public/fonts/notoSans/NotoSans-Regular.woff") format("woff"),
    url("./public/fonts/notoSans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./public/fonts/notoSans/NotoSans-Bold.woff2") format("woff2"),
    url("./public/fonts/notoSans/NotoSans-Bold.woff") format("woff"),
    url("./public/fonts/notoSans/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: //url("./public/fonts/manrope/Manrope-Bold.woff2") format("woff2"),
    // url("./public/fonts/manrope/Manrope-Bold.woff") format("woff"),
    url("./public/fonts/manrope/Manrope-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
