@import "./mixins.scss";

// --------------------START SECTION--------------------

.start__section {
  position: relative;
}

.start-main {
  gap: rem(15);
}

// ====================LEFT BLOCK START====================
.start__left {
  min-width: rem(240);
  justify-content: center;
  z-index: 1;

  h1 {
    font-family: $fontTitle;
    color: $colorWhite;
    font-weight: 700;
    font-size: rem(64);
    line-height: rem(70);

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(33, 64, 1280, 600);
      line-height: adaptiv-num-rem(40, 70, 1280, 600);
    }

    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(35, 33, 600, 375);
      line-height: rem(40);
    }
  }

  &-description {
    position: relative;
    height: rem(124);
    margin-top: rem(90);
    align-items: flex-end;

    @media (max-width: 600px) {
      margin-top: rem(25);
      align-items: flex-start;
    }

    &--line {
      flex-shrink: 0;
      width: rem(140);
      height: 4px;
      background-color: #ffffff;
      transform-origin: top left;
      transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);

      @media (max-width: 600px) {
        display: none;
      }
    }

    p {
      max-width: rem(380);
      font-family: $fontText;
      color: $colorWhite;
      font-weight: 400;
      font-size: rem(20);
      line-height: rem(27);
      transform: translateX(rem(-30));
      -webkit-transform: translateX(rem(-30));
      -moz-transform: translateX(rem(-30));
      -ms-transform: translateX(rem(-30));
      -o-transform: translateX(rem(-30));

      @media (max-width: 1280px) {
        font-size: adaptiv-num-rem(16, 20, 1280, 375);
        line-height: adaptiv-num-rem(22, 27, 1280, 375);
      }

      @media (max-width: 600px) {
        transform: translateX(rem(0));
        -webkit-transform: translateX(rem(0));
        -moz-transform: translateX(rem(0));
        -ms-transform: translateX(rem(0));
        -o-transform: translateX(rem(0));
      }

      @media (min-width: 455px) {
        .start__br-none {
          display: none;
        }
      }
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: rem(125);
      height: rem(125);
      background: rgba(96, 92, 234, 0.5);
      filter: blur(50px);
      margin-top: rem(-30);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}
// ====================LEFT BLOCK START====================

// ====================RIGHT BLOCK START====================
.start__right {
  position: relative;
  max-width: rem(375);
  justify-content: center;
  flex: 1;
  margin-left: auto;
  margin-right: rem(60);

  @media (max-width: 1280px) {
    margin-right: adaptiv-num-rem(0, 60, 1280, 600);
  }

  @media (max-width: 600px) {
    margin-right: 0;
  }

  &-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.2;
    filter: blur(rem(40));
    z-index: 0;
    -webkit-filter: blur(rem(40));
  }

  .start__right-img {
    z-index: 1;
    max-width: rem(333);
    max-height: rem(668);
    min-width: rem(161);
    min-height: rem(333);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.start__element-gradient {
  position: absolute;
  top: rem(55);
  right: rem(-100);
  width: rem(783);
  height: rem(400);
  z-index: 0;
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  transform-origin: bottom right;
}
// ====================RIGHT BLOCK START====================

// ====================START BOTTOM INFO OUR APP====================
.start__bottom {
  justify-content: space-between;
  margin-top: rem(85);
  align-items: center;
  gap: rem(10);

  @media (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(35);
  }

  h2 {
    font-family: $fontTitle;
    color: $colorWhite;
    font-style: normal;
    font-weight: 700;
    font-size: rem(35);
    line-height: rem(70);
    text-transform: uppercase;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(17, 35, 1280, 600);
      line-height: adaptiv-num-rem(25, 70, 1280, 600);
    }

    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(24, 26, 600, 375);
      line-height: adaptiv-num-rem(29, 35, 600, 375);
    }
  }
}

.start__app {
  align-items: center;
  margin-right: rem(60);
  justify-content: center;

  @media (max-width: 1280px) {
    margin-right: adaptiv-num-rem(0, 60, 1280, 600);
  }

  @media (max-width: 600px) {
    margin-right: 0;
  }
}
// ====================START BOTTOM INFO OUR APP====================

// --------------------INFO SECTION--------------------
.info__section {
  margin-top: rem(65);
}

// ====================TOP BLOCK INFO====================
.info__main {
  gap: rem(80);
  justify-content: center;
}

.info__main-block {
  padding: rem(65) rem(55);
  border: rem(2) solid rgba(255, 255, 255, 0.5);
  border-radius: rem(22);
  -webkit-border-radius: rem(22);
  -moz-border-radius: rem(22);
  -ms-border-radius: rem(22);
  -o-border-radius: rem(22);
  flex: 1 1 rem(245.5);
  max-width: rem(503);
  justify-content: center;
  gap: rem(30);

  @media (max-width: 1280px) {
    padding: adaptiv-num-rem(40, 65, 1280, 600)
      adaptiv-num-rem(30, 55, 1280, 600);
  }

  p,
  a {
    font-family: $fontText;
    color: $colorWhite;
  }

  p {
    max-width: rem(325);
    font-weight: 700;
    font-size: rem(30);
    line-height: rem(41);
    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(20, 30, 1280, 600);
      line-height: adaptiv-num-rem(31, 41, 1280, 600);
    }
  }

  a {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(33);
    text-decoration-line: underline;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(18, 24, 1280, 600);
      line-height: adaptiv-num-rem(24, 33, 1280, 600);
    }
  }
}
// ====================TOP BLOCK INFO====================

// ====================BOTTOM BLOCK NISSION====================

.mission {
  margin-top: rem(250);
  gap: rem(80);

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.mission__block {
  &-left {
    @media (max-width: 600px) {
      display: none;
    }
  }

  &-img {
    max-width: rem(999);
    max-height: rem(498);
    margin-left: rem(-350);
  }

  @media (min-width: 601px) {
    &-mobile {
      display: none;
    }
  }

  &-img,
  &-mobile--img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-mobile--img {
    position: relative;
    padding: 0 0 100% 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-right {
    max-width: rem(323);
    margin-left: auto;
    margin-right: rem(60);

    @media (max-width: 1280px) {
      margin-right: adaptiv-num-rem(0, 60, 1280, 600);
    }

    @media (max-width: 600px) {
      margin-right: 0;
      max-width: rem(315);
      margin-left: 0;
    }

    h2 {
      position: relative;
      z-index: 1;

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        right: rem(40);
        width: rem(85);
        height: rem(85);
        background: #f101bf;
        opacity: 0.7;
        filter: blur(rem(50));
        -webkit-filter: blur(rem(50));
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    p {
      padding-top: rem(25);
    }
  }
}

// ====================BOTTOM BLOCK NISSION====================
// --------------------INFO SECTION--------------------

// --------------------VERIFICATION SECTION--------------------
// ====================BLOCK MAIN VERIFICATION====================
.verification__section {
  margin-top: rem(280);
  background-image: linear-gradient(
      179.83deg,
      #000000 -3.1%,
      rgba(0, 0, 0, 0) 56.76%,
      #000000 83.92%
    ),
    url("../../public/img/background/verification__block-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: rem(470);
}

.verification__main {
}

.verification__block {
  &-left {
    gap: rem(45);
  }

  &-right {
    max-width: rem(323);
    margin-left: auto;
    margin-right: rem(60);
    align-self: flex-end;

    @media (max-width: 1280px) {
      margin-right: adaptiv-num-rem(0, 60, 1280, 600);
    }

    @media (max-width: 600px) {
      margin-right: 0;
      max-width: rem(315);
      margin-left: 0;
    }

    p {
      padding-top: rem(25);
    }
  }
}

// ====================BLOCK MAIN VERIFICATION====================
// --------------------VERIFICATION SECTION--------------------

// --------------------integration SECTION--------------------

.integration__section {
  margin-top: rem(295);

  &-wrapper {
    gap: rem(20);
  }
}

// ====================integration BLOCK====================
.integration__block {
  &-left {
    max-width: rem(495);

    p {
      padding-top: rem(25);
      max-width: rem(395);
    }
  }
  &-right {
    flex: 1 1 auto;
    position: relative;
    height: rem(430);
  }
}

// ====================ABSOLUTE DIAGRAM====================
.diagram {
  position: absolute;
  background: #000000;
  border: rem(0.6) solid rgba(255, 255, 255, 0.5);
  border-radius: rem(15);
  -webkit-border-radius: rem(15);
  -moz-border-radius: rem(15);
  -ms-border-radius: rem(15);
  -o-border-radius: rem(15);
  padding: rem(25);
  box-sizing: content-box;
  z-index: 0;

  &-1 {
    top: rem(160);
    left: rem(30);
    width: rem(140);
    height: rem(64);
  }

  &-2 {
    top: rem(-80);
    left: rem(340);
    width: rem(205);
    height: rem(102);
  }

  &-3 {
    bottom: rem(110);
    left: rem(280);
    z-index: 1;
    width: rem(148);
    height: rem(68);
  }

  &-4 {
    bottom: rem(10);
    left: rem(210);
    width: rem(155);
    height: rem(62);
  }

  &-5 {
    bottom: rem(145);
    right: rem(100);
    width: rem(119);
    height: rem(134);
  }

  &__indicator,
  &__pie {
    position: absolute;
    background: #000000;
  }

  &__indicator {
    bottom: rem(0);
    right: rem(10);
    gap: rem(15);

    &-img {
      width: rem(57);
      height: rem(57);
    }
  }

  &__pie {
    top: rem(95);
    left: rem(160);
    gap: rem(16);

    &-img {
      width: rem(46);
      height: rem(46);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// ====================ABSOLUTE DIAGRAM====================

// ====================integration BLOCK====================
// --------------------integration SECTION--------------------

// --------------------CODE SECTION--------------------
.code__section {
  font-size: calc(100vw / 1440 * 10);
  width: 100%;
  margin-top: rem(225);
  padding-top: 54em;
  position: relative;

  &-wrapper {
    gap: rem(80);

    &::before {
      content: " ";
      display: block;
      background-image: url("../../public/img/background/code__block-background.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      font-size: calc(100vw / 1440 * 10);
      height: 61.7em;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}

.code__block {
  z-index: 1;
}

.code__block-left {
  margin-left: rem(80);
  @media (max-width: 1440px) {
    margin-left: adaptiv-num-rem(0, 80, 1440, 1240);
  }

  @media (max-width: 1240px) {
    margin-left: 0;
  }

  p {
    max-width: rem(295);
    padding: rem(25) 0 rem(60) 0;
  }
}

.app__block-code {
  flex: 1 1 rem(150);

  @media (max-width: 900px) {
    max-width: rem(185);
  }
}

.code__block-right {
  gap: 4em;
}

.code__phone {
  font-size: calc(100vw / 1440 * 10);
  width: 33em;
  max-width: 330px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:first-child {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &:last-child {
    transform: translateX(40);
    -webkit-transform: translateX(40);
    -moz-transform: translateX(40);
    -ms-transform: translateX(40);
    -o-transform: translateX(40);

    @media (max-width: 1440px) {
      transform: translateX(adaptiv-num-rem(0, 40, 1440, 1240));
      -webkit-transform: translateX(adaptiv-num-rem(0, 40, 1440, 1240));
      -moz-transform: translateX(adaptiv-num-rem(0, 40, 1440, 1240));
      -ms-transform: translateX(adaptiv-num-rem(0, 40, 1440, 1240));
      -o-transform: translateX(adaptiv-num-rem(0, 40, 1440, 1240));
    }

    @media (max-width: 1240px) {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
// --------------------QR-CODE SECTION--------------------

.qr__section {
  margin-top: rem(45);
}

.qr__top {
  position: relative;
}

.qr__text {
  position: absolute;
  z-index: 0;
  font-size: calc(100vw / 1440 * 10);
  width: 72em;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-1,
  &-2 {
    top: 10.5em;
  }

  &-3,
  &-4 {
    bottom: 6em;
  }

  &-1 {
    left: -7em;
  }

  &-2 {
    right: -10em;
  }

  &-3 {
    left: -25em;
  }

  &-4 {
    right: -25em;
  }
}

.qr__img {
  position: relative;
  padding: 0 0 46.34% 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: rem(668);
    object-fit: contain;
  }

  &::before {
    content: " ";
    font-size: calc(100vw / 1440 * 10);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -15em;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.15;
    filter: blur(15em);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: blur(15em);
    width: 105em;
    height: 96em;
  }
}

.qr__arrow {
  font-size: calc(100vw / 1440 * 10);
  position: absolute;
  top: 29em;
  right: 25.5em;

  span {
    font-family: $fontTitle;
    color: $colorWhite;
    font-weight: 700;
    font-size: 2.1em;
    line-height: 2.6em;
    position: relative;

    &::before {
      content: " ";
      font-size: calc(100vw / 1440 * 10);
      position: absolute;
      display: block;
      top: -9em;
      left: -8em;
      background-image: url(../../public/img/icon/arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 8.1em;
      height: 7em;
    }
  }
}

.qr__bottom {
  margin-top: rem(80);
  justify-content: space-between;

  h2 {
    max-width: rem(380);
  }
}

// --------------------QR-CODE SECTION--------------------

// --------------------ordering SECTION--------------------
.ordering__section {
  margin-top: rem(190);
}

.ordering__top {
  &-text {
    max-width: rem(421);
    display: inline-flex;
    margin-left: auto;
    margin-right: rem(60);

    @media (max-width: 1280px) {
      margin-right: adaptiv-num-rem(0, 60, 1280, 600);
    }

    @media (max-width: 600px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.ordering__main {
  position: relative;

  &-text {
    position: absolute;
    padding: rem(22);
    background: #000000;
    border: rem(0.7) solid rgba(255, 255, 255, 0.5);
    border-radius: rem(18);
    -webkit-border-radius: rem(18);
    -moz-border-radius: rem(18);
    -ms-border-radius: rem(18);
    -o-border-radius: rem(18);
    font-size: calc(100vw / 1440 * 10);

    @media (max-width: 1280px) {
      padding: adaptiv-num-rem(13, 22, 1280, 375);
    }

    p {
      font-family: "Roboto";
      font-weight: 500;
      font-size: rem(23);
      line-height: rem(27);
      color: #ffffff;

      @media (max-width: 1280px) {
        font-size: adaptiv-num-rem(14, 23, 1280, 375);
        line-height: adaptiv-num-rem(16, 27, 1280, 375);
      }
    }
    &-1 {
      top: 22.7em;
      right: 29em;
    }
    &-2 {
      top: 36em;
      left: 19em;
    }
    &-3 {
      bottom: 24em;
      left: 40.9em;
    }
    &-4 {
      bottom: 31em;
      right: 25em;
    }

    @media (min-width: 1440px) {
      &-1 {
        top: rem(227);
        right: rem(290);
      }
      &-2 {
        top: rem(360);
        left: rem(190);
      }
      &-3 {
        bottom: rem(240);
        left: rem(409);
      }
      &-4 {
        bottom: rem(310);
        right: rem(250);
      }
    }
  }
}

.ordering__img {
  position: relative;
  padding: 0 0 83.75% 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: rem(1039);
    object-fit: contain;
  }
}
// --------------------ordering SECTION--------------------

// --------------------ordering SECTION--------------------
.notab__section {
  position: relative;
}

.notab__text {
  margin-left: -20em;

  span {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: rem(210);
    line-height: rem(210);
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    text-shadow: 0.5px 0.5px 0.5px #8b8b8b, 0 0.5px 0.5px #8b8b8b,
      0.5px 0 0.5px #8b8b8b, -0.5px -0.5px 0.5px #8b8b8b;

    @media (max-width: 1270px) {
      font-size: adaptiv-num-rem(80, 210, 1270, 600);
      line-height: adaptiv-num-rem(80, 210, 1270, 600);
    }
  }
}

.notab__phone-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    360deg,
    #000000 6.8%,
    rgba(0, 0, 0, 0) 51.62%,
    #000000 97.38%
  );
}

.notab__phone {
  font-size: calc(100vw / 1440 * 10);
  position: relative;
  width: 85.9em;
  height: 42.9em;
  max-width: rem(859);
  max-height: rem(429);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
// --------------------ordering SECTION--------------------

// --------------------ordering SECTION--------------------
.feedback__section {
  gap: rem(25);
}

.feedback__top {
  align-items: center;
  position: relative;

  h2,
  p {
    z-index: 1;
  }

  p {
    text-align: center;
    max-width: rem(580);
  }

  &-gradient {
    font-size: calc(100vw / 1440 * 10);
    position: absolute;
    top: -7em;
    left: 23em;
    width: 25em;
    height: 25em;
    max-width: rem(250);
    max-height: rem(250);
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(5.78deg);
    z-index: 0;
  }
}

.feedback__form {
  position: relative;
  max-width: rem(820);
  align-items: center;
  margin: rem(80) auto 0 auto;
  gap: rem(23);
}

.input-wrapper {
  position: relative;
}

.input__general,
.input-wrapper {
  width: 100%;
}

.input__general {
  gap: rem(23);
}

.form__input,
.form__label {
  padding: rem(29) rem(23);
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: rem(18);
  line-height: rem(25);
}

.form__input {
  flex: 1;
  background: #ffffff;
  border: rem(1) solid #5c5c5c;
  border-radius: rem(10);
  -webkit-border-radius: rem(10);
  -moz-border-radius: rem(10);
  -ms-border-radius: rem(10);
  -o-border-radius: rem(10);
  color: #000000;
  resize: none;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  display: none;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #bfbfbf;
}

.form__message {
  flex: 1;
  min-height: rem(200);
}

.form__btn {
  margin-top: rem(40);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(29);
  color: #ffffff;
  background: #000000;
  border: rem(1) solid #ffffff;
  border-radius: rem(10);
  -webkit-border-radius: rem(10);
  -moz-border-radius: rem(10);
  -ms-border-radius: rem(10);
  -o-border-radius: rem(10);
  padding: rem(25) rem(167);
}

.feedback__form-gradient {
  font-size: calc(100vw / 1440 * 10);
  position: absolute;
  bottom: -2em;
  right: -45em;
  width: 34em;
  height: 34em;
  max-width: rem(340);
  max-height: rem(340);
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  z-index: 0;
}

.feedback__bottom {
  align-items: center;
  margin-top: rem(90);
  gap: rem(35);

  h3 {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: rem(24);
    line-height: rem(33);
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .app__block {
    max-width: rem(292);
    height: rem(82);

    &-store {
      max-width: rem(259);
    }
  }
}

// --------------------ordering SECTION--------------------
