@import "./mixins.scss";

// --------------------START SECTION--------------------

.start__section {
  position: relative;
}

.start-main {
  gap: rem(15);
}

// ====================LEFT BLOCK START====================
.start__left {
  min-width: rem(240);
  justify-content: center;
  z-index: 1;

  h1 {
    font-family: $fontTitle;
    color: $colorWhite;
    font-weight: 700;
    font-size: rem(64);
    line-height: rem(70);

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(33, 64, 1280, 600);
      line-height: adaptiv-num-rem(40, 70, 1280, 600);
    }

    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(35, 33, 600, 375);
      line-height: rem(40);
    }
  }

  &-description {
    position: relative;
    height: rem(124);
    margin-top: rem(90);
    align-items: flex-end;

    @media (max-width: 600px) {
      margin-top: rem(25);
      align-items: flex-start;
    }

    &--line {
      flex-shrink: 0;
      width: rem(140);
      height: 4px;
      background-color: #ffffff;
      transform-origin: top left;
      transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);

      @media (max-width: 600px) {
        display: none;
      }
    }

    p {
      max-width: rem(380);
      font-family: $fontText;
      color: $colorWhite;
      font-weight: 400;
      font-size: rem(20);
      line-height: rem(27);
      transform: translateX(rem(-30));
      -webkit-transform: translateX(rem(-30));
      -moz-transform: translateX(rem(-30));
      -ms-transform: translateX(rem(-30));
      -o-transform: translateX(rem(-30));

      @media (max-width: 1280px) {
        font-size: adaptiv-num-rem(16, 20, 1280, 375);
        line-height: adaptiv-num-rem(22, 27, 1280, 375);
      }

      @media (max-width: 600px) {
        transform: translateX(rem(0));
        -webkit-transform: translateX(rem(0));
        -moz-transform: translateX(rem(0));
        -ms-transform: translateX(rem(0));
        -o-transform: translateX(rem(0));
      }

      @media (min-width: 455px) {
        .start__br-none {
          display: none;
        }
      }
    }

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: rem(125);
      height: rem(125);
      background: rgba(96, 92, 234, 0.5);
      filter: blur(50px);
      margin-top: rem(-30);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}
// ====================LEFT BLOCK START====================

// ====================RIGHT BLOCK START====================
.start__right {
  position: relative;
  max-width: rem(375);
  justify-content: center;
  flex: 1;
  margin-left: auto;
  margin-right: rem(60);

  @media (max-width: 1280px) {
    margin-right: adaptiv-num-rem(0, 60, 1280, 600);
  }

  @media (max-width: 600px) {
    margin-right: 0;
  }

  &-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.2;
    filter: blur(rem(40));
    z-index: 0;
    -webkit-filter: blur(rem(40));
  }

  .start__right-img {
    z-index: 1;
    max-width: rem(333);
    max-height: rem(668);
    min-width: rem(161);
    min-height: rem(333);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.start__element-gradient {
  position: absolute;
  top: rem(55);
  right: rem(-100);
  width: rem(783);
  height: rem(400);
  z-index: 0;
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  transform-origin: bottom right;
}
// ====================RIGHT BLOCK START====================

// ====================START BOTTOM INFO OUR APP====================
.start__bottom {
  justify-content: space-between;
  margin-top: rem(85);
  align-items: center;
  gap: rem(10);

  @media (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(35);
  }

  h2 {
    font-family: $fontTitle;
    color: $colorWhite;
    font-style: normal;
    font-weight: 700;
    font-size: rem(35);
    line-height: rem(70);
    text-transform: uppercase;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(17, 35, 1280, 600);
      line-height: adaptiv-num-rem(25, 70, 1280, 600);
    }

    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(24, 26, 600, 375);
      line-height: adaptiv-num-rem(29, 35, 600, 375);
    }
  }
}

.app {
  align-items: center;
  margin-right: rem(60);
  gap: rem(28);
  justify-content: center;

  @media (max-width: 1280px) {
    margin-right: adaptiv-num-rem(0, 60, 1280, 600);
  }

  @media (max-width: 600px) {
    margin-right: 0;
  }

  @media (max-width: 400px) {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: rem(25);
  }
}

.app__block {
  border: rem(1.5) solid #ffffff;
  border-radius: rem(7);
  -webkit-border-radius: rem(7);
  -moz-border-radius: rem(7);
  -ms-border-radius: rem(7);
  -o-border-radius: rem(7);
  padding: rem(8) rem(12);
  align-items: center;
  box-sizing: content-box;
  cursor: pointer;

  &-store {
    max-width: rem(136);
  }

  &-google {
    max-width: rem(159);
  }

  &-store,
  &-google {
    height: rem(35);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 400px) {
      max-width: rem(185);
      height: rem(60);
      flex: 1;
    }
  }

  &:hover {
    border-color: #ea008d;
    -moz-box-shadow: 0px 0px 14px #ff14a2;
    -webkit-box-shadow: 0px 0px 14px #ff14a2;
    box-shadow: 0px 0px 14px #ff14a2;
  }

  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
// ====================START BOTTOM INFO OUR APP====================

// --------------------INFO SECTION--------------------
.info__section {
  margin-top: rem(65);
}

// ====================TOP BLOCK INFO====================
.info__main {
  gap: rem(80);
  justify-content: center;
}

.info__main-block {
  padding: rem(65) rem(55);
  border: rem(2) solid rgba(255, 255, 255, 0.5);
  border-radius: rem(22);
  -webkit-border-radius: rem(22);
  -moz-border-radius: rem(22);
  -ms-border-radius: rem(22);
  -o-border-radius: rem(22);
  flex: 1 1 rem(245.5);
  max-width: rem(503);
  justify-content: center;
  gap: rem(30);

  @media (max-width: 1280px) {
    padding: adaptiv-num-rem(40, 65, 1280, 600)
      adaptiv-num-rem(30, 55, 1280, 600);
  }

  p,
  a {
    font-family: $fontText;
    color: $colorWhite;
  }

  p {
    max-width: rem(325);
    font-weight: 700;
    font-size: rem(30);
    line-height: rem(41);
    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(20, 30, 1280, 600);
      line-height: adaptiv-num-rem(31, 41, 1280, 600);
    }
  }

  a {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(33);
    text-decoration-line: underline;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(18, 24, 1280, 600);
      line-height: adaptiv-num-rem(24, 33, 1280, 600);
    }
  }
}
// ====================TOP BLOCK INFO====================

// ====================BOTTOM BLOCK NISSION====================

.mission {
  margin-top: rem(250);
  gap: rem(80);

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.mission__block {
  &-left {
    @media (max-width: 600px) {
      display: none;
    }
  }

  &-img {
    max-width: rem(999);
    max-height: rem(498);
    margin-left: rem(-350);
  }

  @media (min-width: 601px) {
    &-mobile {
      display: none;
    }
  }

  &-img,
  &-mobile--img {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-mobile--img {
    position: relative;
    padding: 0 0 100% 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-right {
    max-width: rem(323);
    margin-left: auto;
    margin-right: rem(60);

    @media (max-width: 1280px) {
      margin-right: adaptiv-num-rem(0, 60, 1280, 600);
    }

    @media (max-width: 600px) {
      margin-right: 0;
      max-width: rem(315);
      margin-left: 0;
    }

    h2 {
      position: relative;
      z-index: 1;

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        top: 0;
        right: rem(40);
        width: rem(85);
        height: rem(85);
        background: #f101bf;
        opacity: 0.7;
        filter: blur(rem(50));
        -webkit-filter: blur(rem(50));
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    p {
      padding-top: rem(25);
    }
  }
}

// ====================BOTTOM BLOCK NISSION====================
// --------------------INFO SECTION--------------------

// --------------------VERIFICATION SECTION--------------------
// ====================BLOCK MAIN VERIFICATION====================
.verification__section {
  margin-top: rem(280);
  background-image: linear-gradient(
      179.83deg,
      #000000 -3.1%,
      rgba(0, 0, 0, 0) 56.76%,
      #000000 83.92%
    ),
    url("../../public/img/background/verification__block-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: rem(470);
}

.verification__main {
}

.verification__block {
  &-left {
    gap: rem(45);
  }

  &-right {
    max-width: rem(323);
    margin-left: auto;
    margin-right: rem(60);
    align-self: flex-end;

    @media (max-width: 1280px) {
      margin-right: adaptiv-num-rem(0, 60, 1280, 600);
    }

    @media (max-width: 600px) {
      margin-right: 0;
      max-width: rem(315);
      margin-left: 0;
    }

    p {
      padding-top: rem(25);
    }
  }
}

// ====================BLOCK MAIN VERIFICATION====================
// --------------------VERIFICATION SECTION--------------------

// --------------------integration SECTION--------------------
// ====================integration BLOCK====================
.integration__block {
  &-left {
    max-width: rem(495);

    p {
      padding-top: rem(25);
      max-width: rem(395);
    }
  }
  &-right {
    flex: 1 1 auto;
    position: relative;
  }
}

// ====================ABSOLUTE DIAGRAM====================
.diagram {
  position: absolute;
}

// ====================ABSOLUTE DIAGRAM====================

// ====================integration BLOCK====================
// --------------------integration SECTION--------------------
