@import "./fonts.scss";
@import "./base.scss";
@import "./mixins.scss";

// ---------Оболочка-----------
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #121212;
}

.container {
  max-width: rem(1240);
  margin: 0 auto;
  padding: 0 rem(15) 0 rem(15);
}
// ---------Оболочка-----------

// ---------MAIN-----------
.main {
  flex: 1 1 auto;
}
// ---------MAIN-----------

// ---------стандартные flex стили-----------
.d-fl {
  display: flex;
}

.d-fl-col {
  display: flex;
  flex-direction: column;
}

.d-fl-row {
  display: flex;
  flex-direction: row;
}

.d-fl-wrap {
  display: flex;
  flex-wrap: wrap;
}
// ---------стандартные flex стили-----------

// ---------BEM-----------
